.layout {
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
}

.title{
  display: flex;
  justify-content: center;
  justify-items: center;
}

.container-car {
  flex: 2;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.car-wrapper {
  position: relative;
  width: 863px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  flex-direction: row;
}

.optionals{
  display: flex;
}

.optionals p {
  padding: 3px;
}

.start-btn {
  background-color: var(--primary-color); 
  color: #1f2937;           
  font-weight: 400;          
  padding: 0.5rem;           
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #e5e7eb;
}