<app-navbar></app-navbar>
<div class="title">
  <h1>La tua {{ name }}</h1>
</div>
<div class="layout">
  <div *ngIf="loaded" class="container-car">
    <div
      class="car-wrapper"
      [ngStyle]="{
        'background-image':
          modelloID === 1
            ? 'url(assets/images/grancabrio/sfondo_grancabrio.png)'
            : 'url(assets/images/granturismo/sfondo_granturismo.png)'
      }"
    >
      <img
        *ngFor="let optional of optionals"
        [src]="optional.FileImageSfondo"
        [alt]="optional.NomeOptional"
        class="layer"
      />
    </div>

    <div *ngFor="let optional of optionals" class="optionals">
      <div>
        <p>- {{ optional.NomeCategoria }}:</p>
      </div>
      <p>{{ optional.NomeOptional }}</p>
      <p>{{ optional.Prezzo | number }} €</p>
    </div>

    <h1>Totale: {{ total | number }} €</h1>
    <button (click)="CreateFile()" class="start-btn">
      Salva convigurazione
    </button>

    <div *ngIf="fileCreato">
      <p style="color: green">File scaricato</p>
    </div>
  </div>
</div>
