.layout {
  display: flex;
  gap: 40px;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
}

.container-car {
  flex: 2;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}