<app-navbar></app-navbar>

<div class="layout">
  <div *ngIf="loaded" class="container-car">
    <div
      class="car-wrapper"
      [ngStyle]="{
        'background-image':
          modelloID === 1
            ? 'url(assets/images/grancabrio/sfondo_grancabrio.png)'
            : 'url(assets/images/granturismo/sfondo_granturismo.png)'
      }"
    >
      <div *ngIf="this.modelloID == 1">
        <button
          *ngIf="this.capote == false; else apriTpl"
          (click)="capoteClick()"
        >
          Chiudi capote
        </button>

        <ng-template #apriTpl>
          <button (click)="capoteClick()">Apri capote</button>
        </ng-template>
      </div>

      <ng-container *ngFor="let optional of optionals">
        <img
          *ngIf="optional.CategoriaOptionalID !== 4 || capote"
          [src]="optional.FileImageSfondo"
          [alt]="optional.NomeOptional"
          class="layer"
        />
      </ng-container>
    </div>
  </div>

  <div class="container-cards">
    <div
      *ngFor="let categoria of groupedOptionals | keyvalue"
      class="category-block"
    >
      <h2>{{ categoria.key }}</h2>

      <div class="category-scroll">
        <div
          *ngFor="let opt of categoria.value"
          class="optional-item"
          [ngSwitch]="opt.CategoriaOptionalID"
        >
          <div class="tooltip">
            <img
              *ngSwitchCase="1"
              [src]="opt.FileImagePaint"
              class="card-image"
              (click)="selectOptional(opt)"
            />
            <span class="tooltiptext">{{ opt.NomeOptional }}</span>
          </div>

          <div class="tooltip">
            <img
              *ngSwitchCase="2"
              [src]="opt.FileImageRim"
              class="card-image"
              (click)="selectOptional(opt)"
            />
            <span class="tooltiptext">{{ opt.NomeOptional }}</span>
          </div>

          <div class="tooltip">
            <img
              *ngSwitchCase="3"
              [src]="opt.FileImageCalipers"
              class="card-image"
              (click)="selectOptional(opt)"
            />
            <span class="tooltiptext">{{ opt.NomeOptional }}</span>
          </div>

          <img
            *ngSwitchDefault
            [src]="opt.FileImageSfondo"
            class="card-image"
            (click)="selectOptional(opt)"
          />
        </div>
      </div>
    </div>
    <button
      (click)="infoForCheckout()"
      class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow hover:bg-blue-700 transition"
    >
      Vai al resoconto
    </button>
  </div>
</div>
