.layout {
  display: flex;
  gap: 40px;
  padding: 20px;
}

.container-car {
  flex: 2;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.container-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}

.category-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-scroll {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}

.optional-item {
  display: inline-block;
  text-align: center;
}

.card-image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  object-fit: contain;
  border-radius: 30px;
}

.car-wrapper {
  position: relative;
  width: 900px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  border-radius: 20px;
}
