.layout {
  display: flex;
  gap: 40px;
  padding: 20px;
  flex-direction: row;
}

.container-car {
  flex: 2;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.container-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}

.container-cards button {
  max-width: 40%;
  background-color: hsl(41, 96%, 56%);
  border: none;
  padding: 10px;
}

.container-cards button:hover {
  cursor: pointer;
}

.category-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-scroll {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}

.optional-item {
  display: inline-block;
  text-align: center;
}

.card-image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  object-fit: contain;
  border-radius: 30px;
}

.car-wrapper {
  position: relative;
  width: 773px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;

  display: flex;
  justify-content: center;

}

.car-wrapper button {
  width: 10rem;
  height: 3rem;
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  border-radius: 20px;
}

.tooltip {
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.616);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
