.homepage-container {
  display: flex;
  min-height: calc(100vh - 115px); /* spazio sotto navbar */
  animation: slide-down 0.6s ease-out;
  position: relative;
}

.wallpaper {
  max-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Animazione */
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.8s ease-out forwards;
}

.chat {
  background-color: var(--primary-color);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: fixed;
  bottom: 70px;
  right: 70px;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chatText {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;

  background: black;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
}

.chat:hover .chatText {
  visibility: visible;
  opacity: 1;
}
