.navbar {
  background-color: transparent; 
  color: black;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

/* Padding desktop */
@media (min-width: 1024px) {
  .navbar {
    padding-left: 6.25rem; 
    padding-right: 6.25rem;
  }
}

.navbar a {
  color: black;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  text-decoration: none;
  margin-left: 10px;
}

.logo {
  position: absolute;   
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.start-btn {
  background-color: hsl(41, 96%, 56%); 
  color: #1f2937;           
  font-weight: 400;          
  padding: 0.5rem;           
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #e5e7eb;
}

button{
  margin-left: 3rem;
}