.navbar {
  background-color: transparent; 
  color: black;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
}

/* Padding extra su desktop (lg:px-100) */
@media (min-width: 1024px) {
  .navbar {
    padding-left: 6.25rem; 
    padding-right: 6.25rem;
  }
}

.navbar a {
  color: black;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.5;
  text-decoration: none;
}

.logo{
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.start-btn {
  background-color: hsl(41, 96%, 56%); 
  color: #1f2937;           
  font-weight: 400;          
  padding: 0.5rem;           
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #e5e7eb;
}
