.container{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    min-height: 80vh;
}

h1{
    margin-bottom: 4rem;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;     
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 250px;
}
