@font-face {
    font-family: Roboto;
    src: url(./assets/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf) format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: hsl(41, 96%, 56%);
}

